body{
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.left-nav{
    font-size: 2.5rem;
    font-weight: 900;
 }
.nav-cover{
    position: sticky;
    top: 0;
    box-shadow: 0px 3px 5px grey;
    display: flex;
    justify-content: center;
    background-color: white;
}
.navbar{
    display: flex;
    justify-content: space-between;
    width: 90vw;
    align-self: center;
    padding: 1rem;
}
.right-nav{
    display:flex;
}
.search-element{
    font-size: 2rem;
}
.nav-btn{
    height: 2rem;
    font-size: 1rem;
    border-radius: 1rem;
    padding: 0rem 0.75rem;
    background-color: rgb(234, 234, 234);
    border: 0px;
    box-shadow: 0px 2px 5px grey;
}
#search-bar{
    border: 0px;
    box-shadow: 0px 2px 3px grey;
    height: 2rem;
    border-radius: 2rem;
    font-size: 1rem;
    width: 20vw;
    padding: 0rem 1rem;
}
#search-bar:focus{
    outline: none;
}

form{
    display: flex;
    justify-content: space-between;
}
.search-element{
    margin:4px
}
#suggestion-box{
    position: absolute;
    z-index: 2;
    display: none;
    /* width: 19rem; */
    align-self: center;
    background-color: rgb(234, 234, 234);
    box-shadow: 0px 2px 5px grey;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    font-size: 1rem;
}

#product-section{
    width: 90vw;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    align-self: center;
}
.product{
    margin: 10px;
    border: 2px solid rgb(234, 234, 234);
    background-color: rgb(234, 234, 234);
    display: flex;
    flex-direction: column;
    height:400px;
    width:300px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px grey;
}
.product-img{
    align-self: center;
    border-radius: 5px;
    margin-bottom: 10px;
}
.product-title{
    text-align: center;
    padding: 4px;
    margin: 0px;
}
.product-price{
    text-align: center;
    margin: 0px;
}
#product-detail{
    background-color: rgb(234, 234, 234);   
    width: 90vw;
    align-self: center;
    margin-top: 2rem;
    box-shadow: 0px 2px 5px grey;
    border-radius: 1rem;
    display: flex;
    justify-content: space-evenly;
}
.product-detail-left{
    /* height: 80vh; */
    width: 40%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.product-detail-right{
    width: 55%;
    /* height: 80vh; */
}

#image{
    width: 90%;
}

.page-btn-sec{
    display: flex;
    justify-content: center;
    margin:2rem;
}
#page-number{
    width:10rem;
    font-size: 1.5rem;
    text-align: center;
}
#products{
    width: 90vw;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    margin: 1rem 0rem;
}
.page-btn{
    height: 3rem;
    font-size: 1rem;
    border-radius: 1.5rem;
    padding: 1rem 1rem;
    background-color: rgb(234, 234, 234);
    border: 0px;
    box-shadow: 0px 2px 5px grey;
}

#availability{
    /* width: 4.5rem; */
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-weight: 600;
    border: 2px solid green;
    color:green;
    margin-top: 1rem;
    align-self: self-start;
}
#title{
    font-size: 2rem;
    margin-top: 2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.product-detail-right div{
    padding: .25rem
}

#search-history{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}
.history-item{
    padding: 1rem;
    margin: 0.5rem 0rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 2px 5px grey;
}